@font-face {
	font-family: 'rublesign';
	src: url('../fonts/rouble.eot');
	src: url('../fonts/rouble.eot') format('embedded-opentype'),
		 url('../fonts/rouble.woff2') format('woff2'),
		 url('../fonts/rouble.woff') format('woff'),
		 url('../fonts/rouble.ttf') format('truetype'),
		 url('../fonts/rouble.svg#rublesign') format('svg');
	font-weight: normal;
	font-style: normal;
}

.rub {
	font-family: 'rublesign' !important;
}

body {
	font-family: "roboto","Arial",Sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: normal;
	background-color: #849d8f;
	margin: 0;
}

body > input[type="radio"] {
	display: none;
}

h1 {
	font-family: "roboto","Arial",Sans-serif;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}


h2 {
	font-family: "roboto","Arial",Sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;
}

h3 {
	font-family: "roboto","Arial",Sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: white;
	font-weight: bold;
}

a {
	color: #fff;
}
a:hover {
	color: #ffbc9e;
}
a.invert {
	color: #323232;
}
a.invert:hover {
	color: #e84d37;
}

.control input {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	max-height: 44px;
	padding-left: 14px;
	background: #fff;
	border: 1px solid rgba(178,178,178,.5);
	font-size: 16px;
	line-height: 44px;
	border-radius: 5px;
	color: #323232;
	outline: none;
}
.control input:hover {
	border-width: 2px;
}
.control input:focus {
	border: 2px solid rgba(46, 136, 228, 0.5);
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper {
	margin: 0 auto;
	background-color: #849d8f;
	background-image: url("../img/icecream1.png");
	background-repeat: no-repeat;
	background-position: top center;
	min-width: 900px;
	transition: all 0.2s linear;
}


.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}


.main-header {
	position: relative;
	border-top: 1px solid transparent;
}


.logo {
	margin-top: 10px;
	float:left;
	width: 155px;
	margin-right: 30px;
}


.main-navigation {
	float: left;
	margin-top: 23px;
}


.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.main-navigation li {
	float:left;
	color: white;
}

.main-navigation a {
	color: white;
	padding: 6px 13px;
	border-radius: 16px;
	font-weight: 500;
}


.main-navigation a:hover {
	background-color: #f7f6f3;
	color: #333333;
	text-decoration: none;
}

.main-navigation a.active {
	background-color: #d07058;
	color: white;
	text-decoration: none
}


.user {
	margin-top: 23px;
	float: right;
}

.user-block {
	float: left;
	margin-left: 10px;
}


.user-link {
	position: relative;
	padding: 7px 16px;
	border-radius: 16px;
	font-size: 14px;
	font-weight: 500;
	color: white;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
}
.user-link:hover {
	background-color: #f8f7f4;
	color: #373737;
}
.user-link_login {
	padding-left: 44px;
}
.user-link_cart {
	padding-left: 44px;
}

.user-link:before {
	content: '';
	position: absolute;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
}
.user-link_search:before {
	top: 7px;
	left: 7px;
	width: 17px;
	height: 17px;
	background-position: 0px -118px;
}
.user-link_search:hover:before {
	background-position: 0px -145px;
}
.user-link_login:before {
	top: 6px;
	left: 16px;
	width: 21px;
	height: 19px;
	background-position: 0px -60px;
}
.user-link_login:hover:before {
	background-position: 0px -89px;
}
.user-link_cart:before {
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-position: 0px 0px;
}
.user-link_cart:hover:before, .user-link_cart.full:before {
	background-position: 0px -30px;
}








.header-contacts {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	color: white;
	font-weight: 500;
	top: 75px;
	right: 0;
	text-align: right;

}

.header-contacts span {
	display: block;
	font-size: 22px;
	margin-top: 4px;
}

.dropdown-block {
	display: none;
}


.slider {
	position: relative;
	padding-top: 320px;
	margin-bottom: 40px;
}

.slide {
	text-align: center;
	position: relative;
	display: none;
}


.slide-title {
	margin: 0 auto 31px;
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	width: 800px;
	color: white;
	text-align: center;
} 

.slider-controls {
	position: absolute;
	bottom: 23px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
 	border-radius: 50%;
	cursor: pointer;
}

.banners {
	position: relative;
	margin-bottom: 40px;
}
.banner {
	padding: 23px 21px 21px 20px;
	border-radius: 15px;
	min-height: 156px;
}
.banner_raspberry {
	background-image: url("../img/banner_raspberry.jpg");
}
.banner_chocolate {
	background-image: url("../img/banner_chocolate.jpg");
}
.banner h3 {
	display: block;
	margin-top: 0;
	margin-bottom: 13px;
	font-size: 35px;
}
.banner p {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.banner .btn {
	float: right;
	margin-top: 27px;	
}

.catalog {
	margin-bottom: 40px;
}
.catalog-item {
	position: relative;
	float: left;
	width: 267px;
	margin-right: 26px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0;
}
.catalog-image {
	display: block;
	position: relative;
	margin-bottom: 13px;
	text-decoration: none;
}
.catalog-image img {
	display: block;
}
.catalog-price {
	position: absolute;
	bottom: 20px;
	left: 0;
	color: white;
	font-size: 45px;
	font-weight: bold;
	text-shadow: 1px 0px 3px rgba(49, 50, 53, 0.5);
}
.catalog-measure {
	font-size: 30px;
}
.catalog-item_hit:before {
	content:'';
	position: absolute;
	width: 61px;
	height: 61px;
	background-image:url(../img/hit.png);
	background-repeat: no-repeat;
	z-index: 6;
}
.catalog-name {
	position: relative;
	display: inline-block;
	color: white;
	margin-bottom: 19px;
	padding: 0 6px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}
.catalog-name:hover {
	text-decoration: none;
	color: white;
}
.catalog-preview {
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	bottom: -40px;
	text-align: center;
	z-index: 10;
}
.catalog-fake-hover {
	display: none;
	position: absolute;
	top: -5px;
	left: -13px;
	right: -13px;
	bottom: -57px;
	border-radius: 5px;
	background: rgba(255,255,255,.3);
	z-index: 5;
}
.catalog-item:hover .catalog-preview, .catalog-item:hover .catalog-fake-hover {
	display: block;
}



.about-us-text {
	padding: 24px 22px 6px;
	margin-bottom: 40px;
	background-image: url("../img/waffle_pattern.jpg");
	border-radius: 15px;
}
.about-us-text h2 {
	margin: 0 0 22px;
}
.about-us-item {
	position: relative;
	float: left;
	width: 472px;
	padding-left: 58px;
	margin: 0 36px 20px 0;
}
.about-us-item:nth-child(2n) {
	 margin-right: 0;
}
.about-us-item:before {
	content: '';
	position: absolute;
	top: -13px;
	left: 0;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
}
.about-us-item_icecream:before {
	background-image: url("../img/icecream_icon.png");
}
.about-us-item_cow:before {
	background-image: url("../img/cow_icon.png");
}
.about-us-item_leaf:before {
	background-image: url("../img/leaf_icon.png");
}
.about-us-item_termometr:before {
	background-image: url("../img/termometr_icon.png");
}


.blog-and-subscribe {
	margin-bottom: 40px;
	border-radius: 15px;
}
.blog {
	color: #000;
	background: #fff url(../img/news.jpg) no-repeat 0 0;
	text-align: left;
	padding: 24px 250px 18px 20px;
	line-height: 25px;
	border-radius: 15px;
	min-height: 178px;
}
.blog p {
	margin: 0 0 5px;
	color: #666;
	font-weight: 500;
}
.blog a {
	margin-top: 40px;
	font-size: 24px;
	font-weight: 700;
	color: #333;
}

.subscribe-wrapper {
	padding: 5px 5px 5px 6px;
	border-radius: 15px;
	background: #f8f7f4 url(../img/postpattern.png) 0 0;
}
.subscribe {
	padding: 12px 20px 35px;
	line-height: 22px;
	background: #f8f7f4;
	border-radius: 15px;
	text-align: left;
}
.subscribe p {
	color: #666;
	margin-bottom: 16px;
	min-height: 86px;;
}
.subscribe-form {
	position: relative;
	width: auto;
	padding-right: 140px;
}
.subscribe-form input[type=email] {}

.subscribe-form input[type=submit] {
	position: absolute;
	top: 0px;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
}


.map {
	position: relative;
	margin-top: 40px;
	height: 430px;
	background-size: cover;
}
.map .container {
	position: relative;
}


.adress {
	position: absolute;
	top: 62px;
	right: 0;
	width: 250px;
	padding: 30px 25px;
	background: #fefefe;
	color: #343434;
	border-radius: 15px;
	z-index: 10;
}
.adress p {
	margin-top: 0;
	line-height: 20px;
	font-size: 14px;
}
.adress b {
	display: block;
	margin: 5px 0 5px;
	font-size: 18px;
	font-weight: bold;
}




.main-footer {
}
.main-footer .container {
	padding: 35px 0 30px;
	border-top: 1px solid rgba(255,255,255,0.3);
}


.footer-social {
	float: left;
	margin: 0;
	padding: 0;;
	width: 380px;
	margin-right: 16px;
}


.social-btn {
	display: inline-block;
	margin-right: 9px;
	width: 31px;
	height: 31px;
	vertical-align: top;
	font-size: 0;
	border: 3px solid rgba(255, 255, 255, 0.5); 
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
}


.social-btn:hover {
	border-color: rgba(255, 255, 255, 0.7); 
	opacity: 1;

}
.social-btn:active {
	box-shadow: inset 0 2px 1px #888888;
}


.twitter {
	background-image: url("../img/twitter_icon.png");
}

.instagram {
	background-image: url("../img/insta_icon.png")
}

.facebook {
	background-image: url("../img/fb_icon.png")
}

.vk {
	background-image: url("../img/vk_icon.png")
}


.footer-about-us {
	float: left;
	width: 420px;
	font-size: 0;
}


.footer-about-us ul {
	display: inline-block;
	margin-top: 0;
	width: 165px;
	vertical-align: top;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	text-decoration: none;
	list-style: none;
}

.footer-link {
	color: white;
}


.footer-link_heart {
	position: relative;
	font-weight: bold;
}


.footer-link_heart:before {
	content: "";
	position: absolute;
	top: 2px;
	left: -23px;
	width: 15px;
	height: 13px;
	background-image: url("../img/heart_icon_footer.png");
	background-repeat: no-repeat;
}


.footer-link a:nth-child(2n+1) {
	padding-left: 26px;
	width: 142px;
}
 

.footer-copyright {
	position: relative;
	float: right;
	padding-top: 37px;
	color: #fff;
	font-size: 12px;
}

.footer-copyright::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 108px;
	height: 37px;
	background: url("../img/logo_htmlacademy.png");
	background-repeat: no-repeat;
}


.breadcrumbs {
	margin-top: 23px;
}

.breadcrumbs ul {
	margin-left: 0;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	font-size: 14px
}


.breadcrumbs a {
	position: relative;
	border-bottom: 1px solid #c2cec7;;
	line-height: 18px;
	color: white;
	text-decoration: none;
}


.breadcrumbs a:hover {
	color: rgba(255, 188, 158, 1);
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs a::after {
	content: "»";
	position: absolute;
	top: 0;
	right: -18px;
}

.breadcrumbs a:hover::after {
color: #fff;
}


.filter {
	margin-bottom: 25px;
}

.filter-block {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 15px;
}

.paginator {
	float: right;
	margin-bottom: 30px;;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
}

.paginator a {
	color: white;
	display: inline-block;
	width: 25px;
	padding: 2px 0 1px;
	border-radius: 60px;
	text-align: center;
    vertical-align: middle;
	text-decoration: none;
}


.paginator a:hover {
    background-color: #9db1a5;
    
}


.paginator .next {
	text-indent: -1000em;
	margin-left: 10px;
	background-image: url(../img/next_icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.paginator .prev {
	text-indent: -1000em;
	margin-right: 10px;
	background-image: url(../img/prev_icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.paginator .active {
	background-color: white;
    color: #323232;
}

.paginator .inactive {
	opacity: 0.2;
}


.btn {
	display: inline-block;
	margin-bottom: 5px;
	border: none;
	border-radius: 40px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding: 11px 27px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	background-color: #ed5a3d;
	background-image: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
	box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
	outline: none;
	cursor: pointer;
}

.btn:hover {
	color: #fff;
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1); outline: none;
}

.btn_slider {
	padding: 17px 43px 13px;
	font-size: 32px;
	height: 32px;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(160,32,11,.76);
}




#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/icecream1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/icecream2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/icecream3.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
label[for="btn-1"]:hover,
label[for="btn-2"]:hover,
label[for="btn-3"]:hover {
	background-color: rgba(255,255,255,0.4);
}

.column {
	float: left;
	width: 560px;
	box-sizing: border-box;
	/*box-sizing: border-box;*/
}
.column + .column {
	margin-left: 26px;
}